<!DOCTYPE html>
<html lang="pt-br">
<!-- {% load static %} -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style_index.css"> 
    <title>The Razor</title>
</head>
<body>
    <div id="Top_bar" class="is-sticky" style="top: 0px";>
        <div class="container">
            <div class="cloumn one">
                <div class="top_bar_left clearfix" style="width: 926px;">
                    <div class="logo">
                        <h1>
                            <a>
                                Razor!
                            </a>
                        </h1>
                    </div>

                    <div class="menu_wrapper">
                        <ul id="menu-topo" class="menu menu-main">
                            <li>
                                <a>
                                    <span>HOME</span>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <span>SOBRE</span>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <span>SERVIÇOS</span>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <span>UNIDADES</span>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <span>CONTATO</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="top_bar_right">
                        <div class="top_bar_right_wrapper">
                            <a>
                                <span class="button_label">AGENDAMENTO ONLINE</span>
                            </a>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    
</body>
</html>
