<!DOCTYPE html>
<html lang="pt-br">
<!-- {% load static %} -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style_index.css"> 
    <title>The Razor</title>
</head>
<body>
    <h2>Razor!</h2>
    <form>
        <h3>Realize o seu login:</h3>
        <button  href="./administrador/login_adm.html">Administrador</button>
        <button  href='./gerente/login_gerente.html'>Gerente</button>
        <button  href='./funcionario/login_funcionario.html'>Funcionário</button>
        <button  href='./cliente/login_cliente.html'>Cliente</button>
    </form>
    
</body>
</html>
